<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

        <suite name="projectSuite">


    <test name="login">

    <classes>


    <class name="com.uberAutomation.Test.AppTest">
    <methods>

    <include name="test0"/>



</methods>

</class>

    <!--class name="com.qauber.TestPostProject" /> -->


</classes>

</test>

</suite>